/src/test/generated-sources/
/src/main/generated-sources/
/target/
.settings
/domain/bin/
/ui/src/test/generated-sources/
/ui/src/main/generated-sources/
/ui/target/
/ui/.project
/ui/.classpath
/ui/.settings
/ui/bin/
/target/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/ui/src/main/xtend-gen/
/home/src/test/generated-sources/
/home/src/main/generated-sources/
/home/target/
/home/.project
/home/.classpath
/home/.settings
/home/bin/
/web/target/
/web/.project
/web/.settings
/web/.classpath
/web/bin/
/web/src/test/
/web/src/test/generated-sources/
/web/src/main/generated-sources/
/web/xtend-gen/
/web/src/main/webapp/node_modules/